// Tablets
@media (max-width: 800px) {
  #about-a {
    .about-info {
      .bio-image {
        height: 180px;
      }
    }
  }

  #work-a {
    .item {
      background: none;
      .item-image {
        opacity: 0.15;
      }
      .item-text {
        opacity: 1;
        transform: translateY(0);
        top: 10%;

        .item-text-wrap {
          background-color: none;
          opacity: 0.95;
          line-height: 1.2;

          .item-text-category {
            display: none;
          }

          .item-text-title {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'subject'
          'email'
          'phone'
          'message';
      }
    }

    &-b {
      padding: 6rem 0;
    }
  }

  #map-container {
    display: none;
  }
}

// Smartphones
@media (max-width: 500px) {
  .git-icon {
    display: none;
  }

  #logo {
    display: none;
  }

  #main-nav {
    flex-direction: column;
    align-items: center;
  }

  // About
  #about {
    &-a {
      .about-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .bio-image {
          justify-content: center;
          width: 80%;
          height: auto;
        }
      }
    }

    &-c {
      display: none;
    }

    &-d {
      margin: 0;
      padding: 0;
      .achievements {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .change-med {
        background-color: $medium-color;
      }
      .change-lt {
        background-color: $light-color;
      }
    }
  }

  // Work
  #work {
    &-a {
      .items {
        display: flex;
        flex-direction: column;
        grid-gap: 25px;

        .item {
          background: none;
          box-shadow: 0 0 10px 5px rgb(0 0 0 / 50%);

          .item-image {
            opacity: 0.15;
          }

          .item-text {
            opacity: 1;
            transform: translateY(0);
            top: 10%;

            .item-text-wrap {
              background-color: none;
              opacity: 0.95;
              line-height: 1.2;
            }
          }
        }
      }
    }
    &-b {
      padding: 0 0 20px 0;
      margin: 0;
      .work-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;

        #repl {
          display: none;
        }
      }
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'subject'
          'email'
          'phone'
          'message';
      }
    }
    &-b {
      .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
      }
    }
    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 6rem;
    position: relative;

    .footer-content {
      flex-direction: column;
      height: 5rem;

      .social .fab {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
